.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;
  background-color: #f9f9f9;
}
