<div class="orders-container">
  <div class="filters">
    <select
      class="status-filter"
      [(ngModel)]="filter().status"
      (ngModelChange)="onFilterStatus($event)"
      aria-label="حالة الطلب"
    >
      <option [ngValue]="undefined">الكل</option>
      <option *ngFor="let status of statusOptions" [ngValue]="status">{{ status }}</option>
    </select>
  </div>

  <app-data-table
    [columns]="columns"
    [data]="orders()"
    [loading]="loading()"
    [actions]="actions"
    [showSearch]="true"
    [showFilters]="true"
    [selectable]="false"
    [currentPage]="currentPage()"
    [totalItems]="totalItems()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions"
    [enableViewToggle]="true"
    searchPlaceholder="البحث في الطلبات..."
    emptyMessage="لا توجد الطلبات متاحة"
    [totalPages]="totalPages()"
    (searchChange)="onSearch($event)"
    (sortChange)="onSort($event)"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    (actionClick)="onActionClick($event)"
    (rowClick)="onRowClick($event)"
    
  >
    <div slot="title" class="header-title">
      <h1 >قائمة الطلبات</h1>
      <p class="header-subtitle ">
        يمكنك إدارة الطلبات من خلال هذه الصفحة. استخدم الفلاتر للبحث عن طلبات محددة.
      </p>
    </div>
  </app-data-table>
</div>

