<div class="dashboard-container">
  <div class="metrics-grid">
    <app-dashboard-card
      title="إجمالي الإيرادات"
      [value]="
        (salesSummary.revenue | currency : 'SAR' : 'symbol' : '1.2-2') ?? ''
      "
      [change]="'+' + salesSummary.revenueChange + '%'"
      icon="attach_money"
    >
    </app-dashboard-card>

    <app-dashboard-card
      title="طلبات جديدة"
      [value]="'+' + salesSummary.orders"
      [change]="'+' + salesSummary.ordersChange + '%'"
      icon="shopping_cart"
    >
    </app-dashboard-card>

    <app-dashboard-card
      title="المنتجات"
      [value]="salesSummary.products.toString()"
      [change]="'+' + salesSummary.productsChange + '%'"
      icon="inventory_2"
    >
    </app-dashboard-card>

    <app-dashboard-card title="المستخدمين النشطين" icon="people">
    </app-dashboard-card>
  </div>
  <!-- [change]="'+' + salesSummary.customersChange + '%'" -->
  <!-- [value]="salesSummary.customers.toString()" -->

  <!-- <div class="charts-grid">
    <div class="chart-card">
      <div class="chart-header">
        <h2>نظرة عامة</h2>
        <p>نظرة عامة على المبيعات والإيرادات الشهرية</p>
      </div>
      <app-chart [data]="chartData"></app-chart>
    </div>

    <div class="sales-card">
      <div class="sales-header">
        <h2>المبيعات الأخيرة</h2>
        <p>أحدث مشتريات العملاء</p>
      </div>
      <app-recent-sales [sales]="recentSales"></app-recent-sales>
    </div>
  </div> -->
</div>
